* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    padding: 10px 20px;
}
input[placeholder] {
	color: red;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

li {
    color: black;
    background-color: white;
    border: 1px solid navy;
    font-size: 20px;
    padding: 5px 5px;
    display: inline-block;
}

h2 {
 color: green;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
}

h1 {
    font-size: 50px;
    font-family: cursive;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto  
}

a:link, a:visited {
    color: red;
    text-align: center;
    text-decoration: none;
    display: inline;
}

.content {
    background-color:lightcyan;
    font-size: 20px;
    display: block;
    text-align: center;
    line-height: 1.5;
}

.content h2 {
    margin: 0;
}

.footer {
    background-color: green;
    display: block;
    text-align: center;
    padding: 10px 30px;

}

.first {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
a.cool {
    color: blue;
    background-color: white;
}

a.cool:hover {
    color: blueviolet;
}